* {
    box-sizing: border-box;
}


/* убираем отступы по умолчанию, импортируем шрифт */
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

/* Вариант импорта через класс. Если нужно применить данный шрифт
к отдельному элементу, нужно добавить  этот класс*/

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 
    "wdth" 100;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: 
    "wdth" 100;
}

/* Убираем значки списка и форматирование по умолчанию у всех списков через тег*/
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Убираем подчёркивание и делаем цвет шрифта "по умолчанию" у всех ссылок по обращению через тег */
a {
    text-decoration: none;
    color: unset;
}

h1, p {
    margin: 0;
    
}

/* задаём максимальный размер основному контейнеру, где размещается вся страница. Оставляем внешние отступы по краям, чтобы текст не прилипал к границам экрана */
.container {
    margin: 0 auto;
    max-width: 970px;
    padding: 0 10px;
}